
.router-link-active, .router-link-active:active, .router-link-active:visited{
    color: blue;
}
.router-link-active:focus{
    color: violet;
}
.accordion-button:not(.collapsed)::after{
    display: none  !important;
}
h3{
    margin-bottom: 0 !important;
}